# Node.js
node_modules

# Production
build
out

# Next.js
.next/

# IDE
.idea/

# Other
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Yarn
yarn-error.log
.pnp.*
